img {
  display: block;
  height: auto;
  object-fit: contain;
  max-width: 500px;
}

.pyocin-pathway {
  padding: 30px;
}

/* image descriptions when hovered */
.image {
  position: relative;
  display: inline-block;
  margin: 24px;
}

.image-description {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--img-hover-background);
  color: #000000;
  visibility: hidden;
  opacity: 0;

  /* transition effect */
  transition:
    opacity 0.2s,
    visibility 0.2s;
}

.image:hover .image-description {
  visibility: visible;
  opacity: 1;
}
